<div class="col-md-8">
    <input type="file" class="file-selector" name="files[]" multiple/>
    <br>
    <br>
    <ul class="choosen-file list-group"></ul>
    <button class="btn btn-round btn-upload">
        <i class="fas fa-upload" style="font-size:15px"> Upload</i>
    </button>
</div>

<script src="/javascripts/tus/tus.js"></script>
<script>
    $(function() {
        let choosen_files = [];
        $(".file-selector").change(function(event) {
            let files = event.target.files;
            $(".choosen-file").empty();
            choosen_files.length = 0;

            for(let i = 0; i < files.length; i++) {
                let file = files[i];
                let list = `<li class="list-group-item justify-content-between file-info-${i}">${file.name}</li>`;
                $(".choosen-file").append(list);

                let sizeInfo = `<span class="badge badge-info badge-pill"> ${prettySize(file.size)} </span>
                    <span class="badge badge primary progress-info-${i}"></span> `;
                $(`.file-info-${i}`).append(sizeInfo);
                choosen_files.push(file);
            };
        });


        $('.btn-upload').on('click', function(e) {
            e.preventDefault();
            let i = 0;
            choosen_files.forEach(function(file) {
                let options = {
                    endpoint: 'http://localhost:3000/tus',
                    retryDelays: [0, 1000, 3000],
                    chunkSize: 5*1024*1024,
                    resume: false,
                    metadata: {
                        id: i,
                        filename: file.name,
                        filetype: file.type
                    },

                    onError: function(error) {
                        console.log('Error:', error.message);
                    },

                    onChunkComplete: function(chunkSize, bytesUploaded, bytesTotal) {
                        let id = this.metadata.id;
                        let percentage = ((bytesUploaded/bytesTotal) * 100).toFixed(2);
                        $(`.progress-info-${id}`).text('  |  ' + percentage + '%');
                    },

                    onSuccess: function() {
                        // window.location = '/tus';
                        console.log('success', upload.url);
                    }
                };

                let upload = new tus.Upload(file, options);
                upload.start();

                i++;
            })
        });

        function prettySize(bytes) {
            let i = -1;
            let byteUnits = [' kB', ' MB', ' GB', ' TB', 'PB', 'EB', 'ZB', 'YB'];
            do {
                bytes = bytes / 1024;
                i++;
            } while (bytes > 1024);

            return Math.max(bytes, 0.1).toFixed(2) + byteUnits[i];
        }
    });
</script>
