<div class="col-md-8">
    <input type="file" class="form-control-file file-selector" name="files[]" multiple />
    <br>
    <ul class="choosen-file list-group" name="list"></ul>
    <button class="btn btn-round btn-upload">
        <i class="fas fa-upload" style="font-size:15px"> Upload</i>
    </button>
</div>

<script src="/javascripts/tus/tus.js"></script>
<script>
    $(function() {
        let choosen_files = [];
        $(".file-selector").change(function(event) {
            let files = event.target.files;
            $(".choosen-file").empty();
            choosen_files.length = 0;

            for(let i = 0; i < files.length; i++) {
                let file = files[i];
                let list = `<li class="list-group-item d-flex justify-content-between align-items-center file-info">${file.name} <span class="badge badge-info badge-pill">${prettySize(file.size)}</span><span class="badge badge-info badge-pill progress-info"></span></li>`;
                $(".choosen-file").append(list);
                choosen_files.push(file);
            };
        });


        $('.btn-upload').on('click', function(e) {
            e.preventDefault();
            let file = choosen_files[0];
            let options = {
                endpoint: 'http://localhost:3000/tus',
                retryDelays: [0, 1000, 3000],
                chunkSize: 5000000,
                resume: false,
                metadata: {
                    filename: file.name,
                    filetype: file.type
                },

                onError: function(error) {
                    console.log('Error:', error.message);
                },

                onProgress: function(bytesUploaded, bytesTotal) {
                   let percentage = ((bytesUploaded/bytesTotal) * 100).toFixed(2);
                   $(".progress-info").text(percentage + '%');
                },

                onSuccess: function() {
                    console.log('success');
                }
            };

            let upload = new tus.Upload(file, options);
            upload.start();

            $.ajax({
                url: '/tus/files',
                type: 'OPTIONS',
                success: function(data, statusCode, xhr) {
                    console.log(data, statusCode);
                    console.log(xhr)
                }
            });
        });

        function prettySize(bytes) {
            let i = -1;
            let byteUnits = [' kB', ' MB', ' GB', ' TB', 'PB', 'EB', 'ZB', 'YB'];
            do {
                bytes = bytes / 1024;
                i++;
            } while (bytes > 1024);

            return Math.max(bytes, 0.1).toFixed(2) + byteUnits[i];
        }
    });
</script>
