<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">

    <!-- Fine Uploader New/Modern CSS file
    ====================================================================== -->
    <link href="/stylesheets/fine-uploader-new.css" rel="stylesheet">

    <!-- Fine Uploader JS file
    ====================================================================== -->
    <script src="/javascripts/fine-uploader.js"></script>

    <style>
        #trigger-upload {
            color: white;
            background-color: #00ABC7;
            font-size: 14px;
            padding: 7px 20px;
            background-image: none;
        }

        #fine-uploader-manual-trigger .qq-upload-button {
            margin-right: 15px;
        }

        #fine-uploader-manual-trigger .buttons {
            width: 36%;
        }

        #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
            width: 60%;
        }
    </style>

    <title>Fine Uploader Manual Upload Trigger Demo</title>
</head>
<body>

    <!-- Fine Uploader DOM Element
    ====================================================================== -->
    <div id="fine-uploader-manual-trigger"></div>

    <!-- Fine Uploader Thumbnails template w/ customization
    ====================================================================== -->
    <%- include('templates/simple-thumbnails.html'); %>

    <!-- Your code to create an instance of Fine Uploader and bind to the DOM/template
    ====================================================================== -->
    <script>
        var manualUploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader-manual-trigger'),
            template: 'qq-template-manual-trigger',

            request: {
                endpoint: '/fines/uploads'

            },
            debug: true,
            autoUpload: false,

            thumbnails: {
                placeholders: {
                    waitingPath: '/placeholders/waiting-generic.png',
                    notAvailablePath: '/placeholders/not_available-generic.png'
                },
            },

            maxConnections: 5,

            // Upload Parallel
            chunking: {
                concurrent: {
                    enabled: true, 
                },
                enabled: true,


                success: {
                    endpoint: '/fines/success'
                }
            },

            retry: {
                enableAuto: false,
                showButton: true
            },

        });

        qq(document.getElementById("trigger-upload")).attach("click", function() {
            manualUploader.uploadStoredFiles();
        });

    </script>
</body>
</html>
