<!DOCTYPE html>
<html>
<head>
  <meta charset=”UTF-8">
  <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
  <meta name=”viewport” content=”width=device-width, initial-scale=1">
  <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <form method="POST" action="/user/register"> 
        Username: <input type='text' name='username'/><br><br>
        Password: <input type='password' name='password'/><br><br>
        <input type='submit' value='Register'>
    </form>   

    <br><br>
</body>
</html>
