<!-- Fine Uploader DOM Element
====================================================================== -->
<div id="fine-uploader-manual-trigger"></div>

<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<%- include('templates/simple-thumbnails.html', {username: username}); %>

<!-- Your code to create an instance of Fine Uploader and bind to the DOM/template
====================================================================== -->
<script>
    var manualUploader = new qq.FineUploader({
        element: document.getElementById('fine-uploader-manual-trigger'),
        template: 'qq-template-manual-trigger',

        request: {
            endpoint: '/drive/<%-username%>/upload',
        },
        debug: true,
        autoUpload: false,

        thumbnails: {
            placeholders: {
                waitingPath: '/placeholders/waiting-generic.png',
                notAvailablePath: '/placeholders/not_available-generic.png'
            },
        },

        maxConnections: 2,

        // Upload Parallel
        chunking: {
            concurrent: {
                enabled: true, 
            },
            enabled: true,
        },

        deleteFile: {
            enabled: true,
            forceConfirm: true,
            endpoint: '/drive/<%-username%>/delete',
        },

        resume: {
            enabled: true,
            recordsExpireIn: 1
        },

        retry: {
            enableAuto: false,
            showButton: true
        },

        callbacks: {
            onComplete: function(id, filename, resJson, xhr) {
                var file = this.getFile(id);
                console.log(file);
            },
            
            onCancel: function(id, filename) {
                let uuid = this.getUuid(id);

                $.ajax({
                    url: '/drive/<%-username%>/cancel',
                    type: 'DELETE',
                    data: uuid, 
                    contentType:'application/x-www-form-urlencoded',

                    success: function(data, status, xhr) {
                        console.log(status, data);
                    },
                });

                return true;
            },
        }
    });

    qq(document.getElementById("trigger-upload")).attach("click", function() {
        manualUploader.uploadStoredFiles();
    });
</script>