<div class="col-md-8">
    <form action="/S3/upload/buffer" method="POST" enctype="multipart/form-data">
        <input type="file" class="form-control-file file-selector" name="files" multiple />
        <br>
        <ul class="choosen-file list-group" name="list"></ul>
        <button class="btn btn-round" type="submit">
            <i class="fas fa-upload" style="font-size:15px"> Upload</i>
        </button>
    </form>

</div>

<script>
    $(function() {
        $(".file-selector").change(function(event) {
            let files = event.target.files;
            for (let i = 0; i < files.length; i++) {
                let list = `<li class="list-group-item d-flex justify-content-between align-items-center">${files[i].name} <span class="badge badge-info badge-pill">${prettySize(files[i].size)}</span></li>`;
                $(".choosen-file").append(list);
            }
        });

        function prettySize(bytes) {
            let i = -1;
            let byteUnits = [' kB', ' MB', ' GB', ' TB', 'PB', 'EB', 'ZB', 'YB'];
            do {
                bytes = bytes / 1024;
                i++;
            } while (bytes > 1024);

            return Math.max(bytes, 0.1).toFixed(2) + byteUnits[i];
        }
    });
</script>
