<% 
let i = 0;
for (i = 0; i < channels.length; i += 1) { %>
<div class="row">
    <div class="card text-center">
        <div class="card-body">
            <video id="player<%-i%>" class="video-js" controls>
                <source src="rtmp://fms.105.net/live/rmc1" type="application/x-mpegURL">
            </video>
        </div>

        <div class="card-footer">Description</div>
    </div>
</div>
<% } %>

<script src='https://vjs.zencdn.net/7.5.5/video.js'></script>
<script>
    let nChannels = Number("<%-channels.length%>");
    var player = videojs(`player0`);
    console.log("<%- cdnHostname %>");
    player.play();
        /*
    for (let i = 0; i < nChannels; i++) {
        var player = videojs(`player${i}`);
        player.play();
    }
    */
</script>
